/*-------------------------------
UNCOMMENT IF YOU WANT TO SEE GRID
--------------------------------*/
//.row [class^=col-] {
//    background-color: #eee;
//    background-color: rgba(86, 61, 124, .15);
//    border: 1px solid #ddd;
//    border: 1px solid red;
//}

[class^=col-], [class^=col], [class^=container-], [class^=container] {
    background-color: #eee;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid #ddd;
    border: 1px solid red;
}
