:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --background-main-rgb: 37, 55, 70;
    --background-main-dark-rgb: 28, 45, 58;
}

/*@media (prefers-color-scheme: dark) {*/
/*    :root {*/
/*        --foreground-rgb: 255, 255, 255;*/
/*        --background-start-rgb: 0, 0, 0;*/
/*        --background-end-rgb: 0, 0, 0;*/
/*    }*/
/*}*/

body {
    color: rgb(var(--foreground-rgb));
    /*background: linear-gradient(#e66465, #9198e5);*/
    /*background: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%);*/
    background: linear-gradient(
            to bottom,
            #1C2D3AFF, #253746
    ) rgb(var(--background-main-rgb));
}
